body{
     background: brown;
}

#tito{
     color: blueviolet
}

.Komi{
     color: chartreuse;
}

.Text{
     color: white;
     background: black;
     border: blue solid 5px;
     margin: 10px;
     padding: 5px;
}